@{
    ViewBag.Title = "酒品分类";
    Layout = "/Views/Shared/_ContentLayout.cshtml";
}
<div>
    <p>酒品类别：@ViewBag.catalogName</p>
    @foreach (ProductList pl in ViewBag.catProducts as List<ProductList>)
    {
        <div class="list">
            <dl class="col-md-2">
                <dt>
                    <a href='Detail?PNo=@pl.p.ProductNo'><img class="img-responsive" src="~/images/@pl.pn.PicName"></a><br />
                </dt>
                <dd>@pl.p.ProductName</dd>
                <dd>售价:￥@pl.p.Price</dd>
                <dd>
                    <a href="/Cart/AddCart/@pl.p.ProductNo" class="addtocart">添加购物车</a>
                </dd>
            </dl>
        </div>
    }
</div>