@{
    ViewData["Title"] = "detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/detailstyle.css">
    <link rel="stylesheet" type="text/css" href="~/assets/lib/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!--小点点-->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <a href="#"><img src="~/assets/img/剑南春52°_1.jpg" alt="1" /></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="~/assets/img/剑南春52°_2.jpg" alt="2" /></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="~/assets/img/剑南春52°_3.jpg" alt="3" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>剑南春52°白酒</h3>
                        <p id="goodsp">&nbsp;&nbsp;&nbsp;&nbsp;陈年老酒代表着一段珍贵的岁月印记，是对时间的纪念更是对人生重要时刻的回味。</p>
                        <div>
                            <div id="pricon">
                                <div class="jgbox">价格：</div>
                                <div class="infopri">
                                    <span class="pri"><em>¥</em><strong>329.00</strong></span>
                                </div>
                            </div>
                            <br>
                            <br>
                            <button class="addtocart">添加购物车</button>
</div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="Tab-summary">
            <div class="container">
                <!--定义标签-->
                <ul class="nav nav-tabs" role="tablist" id="tab-list">
                    <li class="active"><a href="#tab-spxq" role="tab" data-toggle="tab">商品详情</a></li>
                    <li><a href="#tab-ggcs" role="tab" data-toggle="tab">规格参数</a></li>
                    <li><a href="#tab-sppj" role="tab" data-toggle="tab">商品评价</a></li>
                </ul>
                <!--标签内容-->
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-spxq">
                        <div class="row feature">
                            <div class="col-md-8">
                                <div class="disp">
                                    <img src="~/assets/img/spxq1.jpg">
                                    <img src="~/assets/img/spxq2.jpg">
                                    <img src="~/assets/img/spxq3.jpg">
                                    <img src="~/assets/img/spxq4.jpg">
                                    <img src="~/assets/img/spxq5.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-ggcs">
                        <div class="row feature">
                            <div class="col-md-8">
                                <table width="600px" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <th class="bg">产地</th>
                                            <th>中国,四川</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">香型</th>
                                            <th>浓香型</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">原料</th>
                                            <th>高粱、大米、糯米、小麦、玉米</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">储藏条件</th>
                                            <th>常温、干燥、阴凉、避光。</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">酒厂</th>
                                            <th>四川绵竹剑南春酒厂有限公司</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">净含量</th>
                                            <th>500ml</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">酿造s工艺</th>
                                            <th>低温入窖，粮糟缓慢糖化、发酵升温成酒</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">酒精度</th>
                                            <th>52</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">箱规</th>
                                            <th>1*6</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-sppj">
                        <div class="row feature">
                            <div class="col-md-8">
                                <ul>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/assets/js/server.js"></script>
    <script type="text/javascript" src="~/assets/js/index.js"></script>
</body>
</html>