@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" http-equiv="content-type" content="text/html">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/assets/lib/css/bootstrap.css">
    <!--[if lt IE 9]>
    <script src="assets/lib/html5shiv/html5shiv.js"></script>
    <script src="assets/lib/respond/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style_index.css">
    <script src="~/assets/js/cookie.js" type="text/javascript" charset="utf-8"></script>
    <title>主页</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <!--导航-->
            <div class="dh_nav col-md-4">
                <div class="dhbtn">
                    <h2><a href="#">全部商品分类</a></h2>
                    <ul class="box">
                        <li class="a1">
                            <div class="icon"><a href="#"><i>&nbsp;</i>白酒</a></div>
                            <dl>
                                <dt>热门</dt>
                                <dd>
                                    <a href="#">茅台</a>
                                    <a href="#">五粮液</a>
                                    <a href="#">汾酒</a>
                                    <a href="#">泸州老窖</a>
                                </dd>
                            </dl>
                            <div class="pop">
                                <h3><a href="#">白酒</a></h3>
                                <dl>
                                    <dl>
                                        <dt>品牌</dt>
                                        <dd>
                                            <a href="#">茅台</a>
                                            <a href="#">五粮液</a>
                                            <a href="#">汾酒</a>
                                            <a href="#">泸州老窖</a>
                                            <a href="#">剑南春</a>
                                            <a href="#">扳倒井</a>
                                            <a href="#">杏花村</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>产地</dt>
                                        <dd>
                                            <a href="#">贵州</a>
                                            <a href="#">四川</a>
                                            <a href="#">山西</a>
                                            <a href="#">江苏</a>
                                            <a href="#">安徽</a>
                                            <a href="#">湖北</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>价格</dt>
                                        <dd>
                                            <a href="#">1-99元</a>
                                            <a href="#">100-299元</a>
                                            <a href="#">300-599元</a>
                                            <a href="#">600-999元</a>
                                            <a href="#">1000元及以上</a>
                                        </dd>
                                    </dl>
                                </dl>
                            </div>
                        </li>
                        <li class="a2">
                            <div class="icon"><a href="#"><i>&nbsp;</i>葡萄酒</a></div>
                            <dl>
                                <dt>推荐</dt>
                                <dd>
                                    <a href="#">茉莉花</a>
                                    <a href="#">丁戈树</a>
                                    <a href="#">长城</a>
                                    <a href="#">黄尾袋鼠</a>
                                </dd>
                            </dl>
                            <div class="pop">
                                <h3><a href="#">葡萄酒</a></h3>

                                <dl>
                                    <dt>品牌</dt>
                                    <dd>
                                        <a href="#">拉菲</a>
                                        <a href="#">奔富</a>
                                        <a href="#">长城</a>
                                        <a href="#">黄尾袋鼠</a>
                                        <a href="#">杰卡斯</a>
                                        <a href="#">蒙特斯</a>
                                        <a href="#">张裕</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>产地</dt>
                                    <dd>
                                        <a href="#">法国</a>
                                        <a href="#">澳大利亚</a>
                                        <a href="#">意大利</a>
                                        <a href="#">中国</a>
                                        <a href="#">南非</a>
                                        <a href="#">智利</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>价格</dt>
                                    <dd>
                                        <a href="#">1-99元</a>
                                        <a href="#">100-299元</a>
                                        <a href="#">300-599元</a>
                                        <a href="#">600-999元</a>
                                        <a href="#">1000元及以上</a>
                                    </dd>
                                </dl>

                            </div>
                        </li>
                        <li class="a3">
                            <div class="icon"><a href="#"><i>&nbsp;</i>洋酒</a></div>
                            <dl>
                                <dt>推荐</dt>
                                <dd>
                                    <a href="#">威士忌</a>
                                    <a href="#">人头马</a>
                                    <a href="#">白兰地</a>
                                    <a href="#">马爹利</a>
                                </dd>
                            </dl>
                            <div class="pop">
                                <h3><a href="#">洋酒</a></h3>
                                <dl>
                                    <dl>
                                        <dt>品牌</dt>
                                        <dd>
                                            <a href="#">芝华士</a>
                                            <a href="#">杰克丹尼</a>
                                            <a href="#">人头马</a>
                                            <a href="#">尊尼获加</a>
                                            <a href="#">轩尼诗</a>
                                            <a href="#">马爹利</a>
                                            <a href="#">占边</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>品类</dt>
                                        <dd>
                                            <a href="#">白兰地</a>
                                            <a href="#">威士忌</a>
                                            <a href="#">伏特加</a>
                                            <a href="#">龙舌兰</a>
                                            <a href="#">朗姆酒</a>
                                            <a href="#">预调酒</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>价格</dt>
                                        <dd>
                                            <a href="#">1-99元</a>
                                            <a href="#">100-299元</a>
                                            <a href="#">300-599元</a>
                                            <a href="#">600-999元</a>
                                            <a href="#">1000元及以上</a>
                                        </dd>
                                    </dl>
                                </dl>
                            </div>
                        </li>
                        <li class="a4">
                            <div class="icon"><a href="#"><i>&nbsp;</i>啤酒</a></div>
                            <dl>
                                <dt>推荐</dt>
                                <dd>
                                    <a href="#">青岛</a>
                                    <a href="#">嘉士伯</a>
                                    <a href="#">喜力</a>
                                    <a href="#">百威</a>
                                </dd>
                            </dl>
                            <div class="pop">
                                <h3><a href="#">啤酒</a></h3>
                                <dl>
                                    <dl>
                                        <dt>品牌</dt>
                                        <dd>
                                            <a href="#">青岛</a>
                                            <a href="#">嘉士伯</a>
                                            <a href="#">喜力</a>
                                            <a href="#">百威</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>价格</dt>
                                        <dd>
                                            <a href="#">1-99元</a>
                                            <a href="#">100-299元</a>
                                            <a href="#">300-599元</a>
                                            <a href="#">600-999元</a>
                                            <a href="#">1000元及以上</a>
                                        </dd>
                                    </dl>
                                </dl>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="AdCarousel" class="carousel slide col-md-8" data-ride="carousel">
                <!--轮播指标-->
                <ol class="carousel-indicators">
                    <li data-target="#AdCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#AdCarousel" data-slide-to="1"></li>
                    <li data-target="#AdCarousel" data-slide-to="2"></li>
                    <li data-target="#AdCarousel" data-slide-to="3"></li>
                </ol>
                <!--轮播项目-->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="#"><img src="assets/img/banner1.jpg" alt="1" /></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="assets/img/banner2.jpg" alt="2" /></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="assets/img/banner3.jpg" alt="3" /></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="assets/img/banner4.jpg" alt="4" /></a>
                    </div>
                    <a class="carousel-control left" href="#AdCarousel" data-slide="prev" role="button">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#AdCarousel" data-slide="next" role="button">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="discount">
                <h1>诚意推荐</h1>
                <div class="list">
                    @foreach (ProductList pl in Model.recProducts)
                    {
                        <dl class="col-md-2" pid="1001">
                            <dt>
                                <a href='Home/Detail/@pl.p.ProductId'><img class="img-responsive" src="pic/whitewine/泸州老窖52°六瓶装_1.jpg"></a><br />
                            </dt>
                            <dd><a asp-controller="Home" asp-action="Detail">@pl.p.ProductName</a></dd>
                            <dd>售价:￥@pl.p.Price</dd>
                            <dd>
                                <button class="addtocart">添加购物车</button>
                            </dd>
                        </dl>
                    }
                    @*<dl class="col-md-2" pid="1001">
                                <dt>
                                    <img src="pic/whitewine/剑南春52°_1.jpg" class="img-responsive" />
                                </dt>
                                <dd><a asp-controller="Home" asp-action="Detail">剑南春52°白酒</a></dd>
                                <dd>￥<span>998</span></dd>
                                <dd>
                                    <button class="addtocart">添加购物车</button>
                                </dd>
                            </dl>
                            <dl class="col-md-2" pid="1002">
                                <dt>
                                    <img src="pic/whitewine/泸州老窖52°六瓶装_1.jpg" class="img-responsive" />
                                </dt>
                                <dd>泸州老窖52°六瓶装</dd>
                                <dd>￥<span>1998</span></dd>
                                <dd>
                                    <button class="addtocart">添加购物车</button>
                                </dd>
                            </dl>
                            <dl class="col-md-2" pid="1003">
                                <dt>
                                    <img src="pic/redwine/丁戈树赤霞珠两瓶装_1.jpg" class="img-responsive" />
                                </dt>
                                <dd>丁戈树赤霞珠两瓶装</dd>
                                <dd>￥<span>998</span></dd>
                                <dd>
                                    <button class="addtocart">添加购物车</button>
                                </dd>
                            </dl>
                            <dl class="col-md-2" pid="1004">
                                <dt>
                                    <img src="pic/foreignwine/40°大班保罗VSOP白兰地_1.jpg" class="img-responsive" />
                                </dt>
                                <dd>40°大班保罗VSOP白兰地</dd>
                                <dd>￥<span>2000</span></dd>
                                <dd>
                                    <button class="addtocart">添加购物车</button>
                                </dd>
                            </dl>
                        </div>*@
                    <div class="col-md-4">
                        <h3>酒类百科</h3>
                        <p>随便打点东西看看先啦</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="discount">
                    <h1>优惠特卖</h1>
                    <div class="list">
                        @foreach (ProductList pl in Model.disProducts)
                        {
                            <dl class="col-md-2" pid="1001">
                                <dt>
                                    <a href='Home/Detail/@pl.p.ProductId'><img class="img-responsive" src="pic/whitewine/泸州老窖52°六瓶装_1.jpg"></a><br />
                                </dt>
                                <dd><a asp-controller="Home" asp-action="Detail">@pl.p.ProductName</a></dd>
                                <dd>售价:￥@pl.p.Price</dd>
                                <dd>
                                    <button class="addtocart">添加购物车</button>
                                </dd>
                            </dl>
                        }
                        @*<dl class="col-md-3" pid="1001">
                                <dt>
                                    <img src="pic/whitewine/剑南春52°_1.jpg" class="img-responsive" />
                                </dt>
                                <dd>剑南春52°白酒</dd>
                                <dd>￥<span>179.00</span></dd>
                                <dd>
                                    <button class="addtocart">添加购物车</button>
                                </dd>
                            </dl>
                            <dl class="col-md-3" pid="1002">
                                <dt>
                                    <img src="pic/whitewine/泸州老窖52°六瓶装_1.jpg" class="img-responsive" />
                                </dt>
                                <dd>泸州老窖52°六瓶装</dd>
                                <dd>￥<span>269.00</span></dd>
                                <dd>
                                    <button class="addtocart">添加购物车</button>
                                </dd>
                            </dl>
                            <dl class="col-md-3" pid="1003">
                                <dt>
                                    <img src="pic/redwine/丁戈树赤霞珠两瓶装_1.jpg" class="img-responsive" />
                                </dt>
                                <dd>丁戈树赤霞珠两瓶装</dd>
                                <dd>￥<span>79.00</span></dd>
                                <dd>
                                    <button class="addtocart">添加购物车</button>
                                </dd>
                            </dl>
                            <dl class="col-md-3" pid="1004">
                                <dt>
                                    <img src="pic/foreignwine/40°大班保罗VSOP白兰地_1.jpg" class="img-responsive" />
                                </dt>
                                <dd>40°大班保罗VSOP白兰地</dd>
                                <dd>￥<span>179.00</span></dd>
                                <dd>
                                    <button class="addtocart">添加购物车</button>
                                </dd>
                            </dl>*@
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="~/assets/js/server.js"></script>
        <script type="text/javascript" src="~/assets/js/index.js"></script>
</body>
</html>