.biaoqian{
margin-top: 50px;
  text-align: right;
  margin-bottom: 30px;
}
.dizhi{
  height: 220px;
  border: 1px solid rgb(221, 221, 221);
  padding-top: 10px;
}
.xxdz input{
  width: 525px;
}
.dizhi input{
  border: 1px solid rgb(221, 221, 221);

}
.xiangxi{
  margin-top: 10px;
}
.xiangxi input{

}
h3{
  font-weight: bold;
}
.xiugaidizhi{

  margin-bottom: 30px;
}
.zhifu{
  line-height: 50px;
  height: 70px;
  border: 1px solid rgb(221, 221, 221);
  margin-bottom: 50px;
}
.zhifu lable{
  margin-right: 20px;
}
.jiesuan{
  width: 200px;

  border: 1px solid rgb(221, 221, 221);

}
.shangpin table{
  border: 1px solid rgb(221, 221, 221);

}
.shangpin td{
  border: 1px solid rgb(221, 221, 221);

}
.ma{
  margin-bottom: 20px;
}
