@charset "utf-8";

/*初始化*/

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%
}

body {
    font-size: 13px;
    line-height: 2em;
    color: #666666;
}


/*导航栏*/

.top {
    background-color: #FFFFFF;
    padding: 0.7em 0;
    height: 40px;
    margin-bottom:15px;
}

.navbar-brand {
    padding: 0 0;
}

.navbar-brand > img {
    height: 60px;
    margin-right: 15px;
    margin-top: 5px;
    width: 200px;
}

.navbar-default {
    box-shadow: 12px -5px 40px -12px;
}

.glyphicon {
    font-size: 13px;
}

.body {
    padding-top: 100px;
}


.bg {
    background: url(../img/loginpic.jpg);
    width: 100%;
    height: 600px;
    position: relative;
    height: 650px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:20px;
}
.login{
    margin-top: 85px;
    width: 550px;
    padding: 50px 40px;
}

.login-top{
    background-color: #e0e9e0;
    border-radius: 18px 18px 0 0;
    padding: 30px 40px;
    opacity: 0.7;
}
.login-top h2 {
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    color: #663300;
    margin: 0 0 20px 0;
}
.login-top input[type="text"] {
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    padding: 1px 10px;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 25px;
    margin: 0 0 15px 0;
    width: 88%;
}

.login-top input[type="password"] {
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    padding: 1px 20px;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 25px;
    margin: 0 0 15px 0;
    width: 88%;
}

.forget-password a {
    font-size: 15px;
    font-weight: 500;
    color: #0066FF;
    display: inline-block;
    border-left: 2px solid #0066FF;
    padding: 0 12px 0 0;
}

.forgot a:hover {
    color: #000000;
}
.auto-login input[type="checkbox"]{
    font-size: 15px;

}

.forgot input[type="submit"] {
    background-color:#FFFFFF;
    color: #003333;
    font-size: 22px;
    font-weight: 400px;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px 0px 0px 5px;
    outline: none;
    border: none;
    width: 100%;
}

.forgot input[type="submit"]:hover {
    background-color: #ff0000;
    transition: 1s all;
}
.login-bottom {
    background-color: #e0e9e0;
    padding: 15px 50px;
    border-radius: 0 0 25px 25px;
    text-align: right;
    border-top: 2px solid #646464;
}

.login-bottom h3 {
    font-size: 15px;
    font-weight: 500;
    color: #646464;
}

.login-bottom h3 a {
    font-size: 20px;
    font-weight: 500;
    color: #006633;
}

.login-bottom h3 a:hover {
    color: #0066CC;
    transition: 0.5s all;
}

.forget-password{
  float: right;
}
