@{
    ViewBag.Title = "付款成功";
    ViewBag.contBuy = "/";
}
<style>
    .footer {
    position:center;
    margin-top: 20px;
    margin-bottom:0;   
    background-color: #FFCCCC;
    max-height:200px;
}
.container{
    min-height:750px;

}
</style>
<div>
    <span style="width:100%;text-align:center;">@ViewBag.paymentMsg</span>
</div>