@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Order";
    ViewBag.countBuy = "/";

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" http-equiv="content-type" content="text/html">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style_index.css">
    <!--[if lt IE 9]>
    <script src="assets/lib/html5shiv/html5shiv.js"></script>
    <script src="assets/lib/respond/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style_order.css">
    <script src="~/assets/js/cookie.js" type="text/javascript" charset="utf-8"></script>
    <title>商品结算</title>
</head>
<body>
    <div class="col-sm-offset-3 col-sm-6  ma">
        <div class="biaoqian">
            <img src="~/images/捕获.PNG" alt="">

        </div>
        <!--收货地址-->
        <div class="">
            <h3>选择收货地址</h3>
            
            <div class="dizhi ">
                <div class="col-sm-2">
                    <p>省</p>
                    <p>市</p>
                    <p>区</p>
                </div>
                <div class="col-sm-3">
                    <p><input type="text" /></p>
                    <p><input type="text" /></p>
                    <p><input type="text" /></p>
                </div>
                <div class="col-sm-2">
                    <p>收货人</p>
                    <p>手机号</p>
                    <p>固定电话</p>
                </div>
                <div class="col-sm-3">
                    <p><input type="text" /></p>
                    <p><input type="text" /></p>
                    <p><input type="text" /></p>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-2">
                    <p>详细地址</p>
                    
                </div>
                <div class="xxdz col-sm-10">
                    <p><input type="text"/></p>
                    
                </div>
            </div>
            
           
          
        </div>
            <!--支付方式-->
            <div class="">
                <h3>支付方式</h3>
                <div class="zhifu">
                    <label><input name="Fruit" type="radio" value="" />在线支付</label>
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    <label><input name="Fruit" type="radio" value="" />支付宝支付</label>
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    <label><input name="Fruit" type="radio" value="" />微信支付</label>
                </div>
            </div>
       
        <!--商品信息-->
        <div class="shangpin">
            <h3>确认订单信息</h3>
            <div>
                <table id="table" cellspacing="0" cellpadding="0"  width="100%" class="">
                    <thead>
                        <tr>
                            <td width="8%" height="34">
                                <input class="ck" name="checkbox" type="checkbox" id="allCheck">
                                <label for="checkbox0_t" style="cursor: pointer;">全选</label>
                            </td>
                            <td width="20%">图片</td>
                            <td width="20%">商品名称</td>
                            <td width="20%">数量</td>
                            <td width="20%">单价</td>
                            <td width="20%">小计</td>
                            
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
        </div>
        <!--结算-->
        <h3>结算信息</h3>
        <div class="jiesuan">
            <p>实付款：</p>
               

          
            <input type="button" name="" value="提交订单"/>
        </div>
        </div>
   
    <script type="text/javascript" src="~/assets/js/server.js"></script>
    <script type="text/javascript" src="~/assets/js/index.js"></script>
</body>
</html>
