@{
<<<<<<< HEAD
    ViewData["Title"] = "酒品网主页";
=======
    ViewData["Title"] = "主页";
>>>>>>> origin/前端
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" http-equiv="content-type" content="text/html">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/assets/lib/css/bootstrap.css">
    <!--[if lt IE 9]>
    <script src="assets/lib/html5shiv/html5shiv.js"></script>
    <script src="assets/lib/respond/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style_index.css">
    <title>主页</title>
</head>

<body>
    <div class="top">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!--导航头部-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" id="nav-brand-itheima">
                        <img src="~/assets/img/logo.png" alt="网站logo" />
                    </a>
                </div>
                <!--导航菜单-->
                <div class="" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a asp-controller="Home" asp-action="Index">首页</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">白酒馆<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">茅台</a></li>
                                <li><a href="#">五粮液</a></li>
                                <li><a href="#">泸州老窖</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">葡萄酒馆<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">红葡萄酒</a></li>
                                <li><a href="#">白葡萄酒</a></li>
                                <li><a href="#">起泡酒</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">洋酒馆<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">白兰地</a></li>
                                <li><a href="#">威士忌</a></li>
                                <li><a href="#">伏特加</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">啤酒馆<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">嘉士伯</a></li>
                                <li><a href="#">百威</a></li>
                                <li><a href="#">青岛</a></li>
                            </ul>
                        </li>
                        <li><a href="#">选酒中心</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">我的账户<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">账户资料</a></li>
                                <li class="divider"></li>
                                <li><a href="#">我的订单</a></li>
                                <li><a href="#">物流跟踪</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>购物车</a></li>
                    </ul>
                    <div>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control input-lg" placeholder="请输入"><span class="input-group-addon btn btn-primary">搜索</span>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
<<<<<<< HEAD
                                <li><a href="html\RegPage.html"><span class="glyphicon glyphicon-user">注册</span></a></li>
                                <li><a href="html\LoginPage.html"><span class="glyphicon glyphicon-log-in">登录</span></a></li>
=======
                                <li><a asp-controller="Account" asp-action="Register"><span class="glyphicon glyphicon-user">注册</span></a></li>
                                <li><a asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in">登录</span></a></li>
>>>>>>> origin/前端
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <!--导航-->
            <div class="dh_nav col-md-4">
                <div class="dhbtn">
                    <h2><a href="#">全部商品分类</a></h2>
                    <ul class="box">
                        <li class="a1">
                            <div class="icon"><a href="#"><i>&nbsp;</i>白酒</a></div>
                            <dl>
                                <dt>热门</dt>
                                <dd>
                                    <a href="#">茅台</a>
                                    <a href="#">五粮液</a>
                                    <a href="#">汾酒</a>
                                    <a href="#">泸州老窖</a>
                                </dd>
                            </dl>
                            <div class="pop">
                                <h3><a href="#">白酒</a></h3>
                                <dl>
                                    <dl>
                                        <dt>品牌</dt>
                                        <dd>
                                            <a href="#">茅台</a>
                                            <a href="#">五粮液</a>
                                            <a href="#">汾酒</a>
                                            <a href="#">泸州老窖</a>
                                            <a href="#">剑南春</a>
                                            <a href="#">扳倒井</a>
                                            <a href="#">杏花村</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>产地</dt>
                                        <dd>
                                            <a href="#">贵州</a>
                                            <a href="#">四川</a>
                                            <a href="#">山西</a>
                                            <a href="#">江苏</a>
                                            <a href="#">安徽</a>
                                            <a href="#">湖北</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>价格</dt>
                                        <dd>
                                            <a href="#">1-99元</a>
                                            <a href="#">100-299元</a>
                                            <a href="#">300-599元</a>
                                            <a href="#">600-999元</a>
                                            <a href="#">1000元及以上</a>
                                        </dd>
                                    </dl>
                                </dl>
                            </div>
                        </li>
                        <li class="a2">
                            <div class="icon"><a href="#"><i>&nbsp;</i>葡萄酒</a></div>
                            <dl>
                                <dt>推荐</dt>
                                <dd>
                                    <a href="#">茉莉花</a>
                                    <a href="#">丁戈树</a>
                                    <a href="#">长城</a>
                                    <a href="#">黄尾袋鼠</a>
                                </dd>
                            </dl>
                            <div class="pop">
                                <h3><a href="#">葡萄酒</a></h3>
                                <dl>
                                    <dl>
                                        <dt>品牌</dt>
                                        <dd>
                                            <a href="#">拉菲</a>
                                            <a href="#">奔富</a>
                                            <a href="#">长城</a>
                                            <a href="#">黄尾袋鼠</a>
                                            <a href="#">杰卡斯</a>
                                            <a href="#">蒙特斯</a>
                                            <a href="#">张裕</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>产地</dt>
                                        <dd>
                                            <a href="#">法国</a>
                                            <a href="#">澳大利亚</a>
                                            <a href="#">意大利</a>
                                            <a href="#">中国</a>
                                            <a href="#">南非</a>
                                            <a href="#">智利</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>价格</dt>
                                        <dd>
                                            <a href="#">1-99元</a>
                                            <a href="#">100-299元</a>
                                            <a href="#">300-599元</a>
                                            <a href="#">600-999元</a>
                                            <a href="#">1000元及以上</a>
                                        </dd>
                                    </dl>
                                </dl>
                            </div>
                        </li>
                        <li class="a3">
                            <div class="icon"><a href="#"><i>&nbsp;</i>洋酒</a></div>
                            <dl>
                                <dt>推荐</dt>
                                <dd>
                                    <a href="#">威士忌</a>
                                    <a href="#">人头马</a>
                                    <a href="#">白兰地</a>
                                    <a href="#">马爹利</a>
                                </dd>
                            </dl>
                            <div class="pop">
                                <h3><a href="#">洋酒</a></h3>
                                <dl>
                                    <dl>
                                        <dt>品牌</dt>
                                        <dd>
                                            <a href="#">芝华士</a>
                                            <a href="#">杰克丹尼</a>
                                            <a href="#">人头马</a>
                                            <a href="#">尊尼获加</a>
                                            <a href="#">轩尼诗</a>
                                            <a href="#">马爹利</a>
                                            <a href="#">占边</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>品类</dt>
                                        <dd>
                                            <a href="#">白兰地</a>
                                            <a href="#">威士忌</a>
                                            <a href="#">伏特加</a>
                                            <a href="#">龙舌兰</a>
                                            <a href="#">朗姆酒</a>
                                            <a href="#">预调酒</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>价格</dt>
                                        <dd>
                                            <a href="#">1-99元</a>
                                            <a href="#">100-299元</a>
                                            <a href="#">300-599元</a>
                                            <a href="#">600-999元</a>
                                            <a href="#">1000元及以上</a>
                                        </dd>
                                    </dl>
                                </dl>
                            </div>
                        </li>
                        <li class="a4">
                            <div class="icon"><a href="#"><i>&nbsp;</i>啤酒</a></div>
                            <dl>
                                <dt>推荐</dt>
                                <dd>
                                    <a href="#">青岛</a>
                                    <a href="#">嘉士伯</a>
                                    <a href="#">喜力</a>
                                    <a href="#">百威</a>
                                </dd>
                            </dl>
                            <div class="pop">
                                <h3><a href="#">啤酒</a></h3>
                                <dl>
                                    <dl>
                                        <dt>品牌</dt>
                                        <dd>
                                            <a href="#">青岛</a>
                                            <a href="#">嘉士伯</a>
                                            <a href="#">喜力</a>
                                            <a href="#">百威</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>价格</dt>
                                        <dd>
                                            <a href="#">1-99元</a>
                                            <a href="#">100-299元</a>
                                            <a href="#">300-599元</a>
                                            <a href="#">600-999元</a>
                                            <a href="#">1000元及以上</a>
                                        </dd>
                                    </dl>
                                </dl>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="AdCarousel" class="carousel slide col-md-8" data-ride="carousel">
                <!--轮播指标-->
                <ol class="carousel-indicators">
                    <li data-target="#AdCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#AdCarousel" data-slide-to="1"></li>
                    <li data-target="#AdCarousel" data-slide-to="2"></li>
                    <li data-target="#AdCarousel" data-slide-to="3"></li>
                </ol>
                <!--轮播项目-->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="#"><img src="assets/img/banner1.jpg" alt="1" /></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="assets/img/banner2.jpg" alt="2" /></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="assets/img/banner3.jpg" alt="3" /></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="assets/img/banner4.jpg" alt="4" /></a>
                    </div>
                    <a class="carousel-control left" href="#AdCarousel" data-slide="prev" role="button">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#AdCarousel" data-slide="next" role="button">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="discount">
                <h1>诚意推荐</h1>
                <div class="col-md-2">
                    <img src="pic/liqueur/剑南春52°_1.jpg" class="img-responsive">
                    <a href="#"><h5>剑南春52°白酒</h5></a>
                    <h6>￥179.00</h6>
                    <span><a class="addtocart" href="#">添加到购物车</a></span>
                </div>
                <div class="col-md-2">
                    <img src="pic/liqueur/泸州老窖52°六瓶装_1.jpg" class="img-responsive">
                    <a href="#"><h5>泸州老窖52°六瓶装</h5></a>
                    <h6>￥269.00</h6>
                    <span><a class="addtocart" href="#">添加到购物车</a></span>
                </div>
                <div class="col-md-2">
                    <img src="pic/wine/丁戈树赤霞珠两瓶装_1.jpg" class="img-responsive">
                    <a href="#"><h5>丁戈树赤霞珠两瓶装</h5></a>
                    <h6>￥79.00</h6>
                    <span><a class="addtocart" href="#">添加到购物车</a></span>
                </div>
                <div class="col-md-2">
                    <img src="pic/foreignwine/40°大班保罗VSOP白兰地_1.jpg" class="img-responsive">
                    <a href="#"><h5>40°大班保罗VSOP白兰地</h5></a>
                    <h6>￥179.00</h6>
                    <span><a class="addtocart" href="#">添加到购物车</a></span>
                </div>
                <div class="col-md-4">
                    <h3>酒类百科</h3>
                    <p>随便打点东西看看先啦</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="discount">
                <h1>优惠特卖</h1>
                <div class="col-md-3">
                    <img src="pic/liqueur/剑南春52°_1.jpg" class="img-responsive">
                    <a href="#"><h5>剑南春52°白酒</h5></a>
                    <h6>￥179.00</h6>
                    <span><a class="addtocart" href="#">添加到购物车</a></span>
                </div>
                <div class="col-md-3">
                    <img src="pic/liqueur/泸州老窖52°六瓶装_1.jpg" class="img-responsive">
                    <a href="#"><h5>泸州老窖52°六瓶装</h5></a>
                    <h6>￥269.00</h6>
                    <span><a class="addtocart" href="#">添加到购物车</a></span>
                </div>
                <div class="col-md-3">
                    <img src="pic/wine/丁戈树赤霞珠两瓶装_1.jpg" class="img-responsive">
                    <a href="#"><h5>丁戈树赤霞珠两瓶装</h5></a>
                    <h6>￥79.00</h6>
                    <span><a class="addtocart" href="#">添加到购物车</a></span>
                </div>
                <div class="col-md-3">
                    <img src="pic/foreignwine/40°大班保罗VSOP白兰地_1.jpg" class="img-responsive">
                    <a href="#"><h5>40°大班保罗VSOP白兰地</h5></a>
                    <h6>￥179.00</h6>
                    <span><a class="addtocart" href="#">添加到购物车</a></span>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <!--1.返回顶部：页面内超链接。 -->
            <div class="pull-right">
                <a href="#top">回到顶部</a>
            </div>
            <!--2.提示信息-->
            <div class="footer-left">
                <p>酒仙网电子商务股份有限公司  ©  酒仙网   2011  jiuxian.com  All   Rights Reserved   京ICP备11007961号-1   京公网安备1101050188221</p>
                <p>购买前请确认达到法定饮酒年龄！酒仙网不销售任何含酒精产品给18岁以下人士！</p>
            </div>
            <!--3.网站全局超链接-->
            <div class="footer-right">
                <ul>
                    <li><a href="#"><i class="glyphicon glyphicon-phone-alt">联系我们</i></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-map-marker">关于我们</i></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-question-sign">服务声明</i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/assets/lib/jquery/jquery-1.11.0.js"></script>
    <script src="~/assets/lib/js/bootstrap.js"></script>
</body>

</html>